<main id="page-<%= pageData.template %>">
	<section class="sec-pickup">
		<div class="inner">
			<div class="heading-box">
				<div class="heading-box--left">
					<div class="heading-box__input">
						<input type="text" class="form-control" placeholder="企業名で検索">
						<button type="button" class="heading-box__input-sub">
							<img src="<%= RELATIVE_PATH %>img/search.png" alt="search">
						</button>
					</div>
					<a href="">検索条件をリセット</a>
				</div>
				<div class="heading-box--right">
					<div class="heading-box__note">
						<a href="" class="c-btn__02">
							<img src="<%= RELATIVE_PATH %>img/search-status.png" alt="search-status">
							<span>詳細検索</span>
						</a>
						<a href="" class="c-btn__02">
							<img src="<%= RELATIVE_PATH %>img/magic-wand-01.png" alt="AI Search">
							<span>AI Search</span>
						</a>
					</div>
				</div>
			</div>
			<div class="company-curent">
				<span class="company-curent__ttl">現在の検索条件:</span>
				<ul class="company-curent__list">
					<li><span>Webアプリケーション</span></li>
					<li><span>UI/UX</span></li>
				</ul>
			</div>
			<ul class="pickup-list mbpc-40 mbsp-30">
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Creative株式会社</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-01.png" alt="Creative株式会社">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">SmartOSC</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-02.png" alt="SmartOSC">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Trusting Social</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-03.png" alt="Trusting Social">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">TymeX</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-04.png" alt="TymeX">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Employment Hero</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-05.png" alt="Employment Hero">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan, England, England</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Hiteco Vietnam Co., Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-06.png" alt="Hiteco Vietnam Co., Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Absolute Software (Vietnam) Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-07.png" alt="Absolute Software (Vietnam) Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">VNG Corporation</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-08.png" alt="VNG Corporation">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Creative株式会社</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-01.png" alt="Creative株式会社">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">SmartOSC</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-02.png" alt="SmartOSC">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Trusting Social</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-03.png" alt="Trusting Social">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">TymeX</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-04.png" alt="TymeX">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Employment Hero</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-05.png" alt="Employment Hero">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan, England, England</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Hiteco Vietnam Co., Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-06.png" alt="Hiteco Vietnam Co., Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Absolute Software (Vietnam) Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-07.png" alt="Absolute Software (Vietnam) Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">VNG Corporation</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-08.png" alt="VNG Corporation">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Creative株式会社</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-01.png" alt="Creative株式会社">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">SmartOSC</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-02.png" alt="SmartOSC">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Trusting Social</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-03.png" alt="Trusting Social">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>

			</ul>
			<div class="show-box">
				<div class="show-box--left">
					全1,088件
				</div>
				<div class="show-box--right">
					<ul class="pagination">
						<li class="page-item"><a class="page-link arrow-link prev-link disabled" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link active" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><span>...</span></li>
						<li class="page-item"><a class="page-link" href="#">39</a></li>
						<li class="page-item"><a class="page-link" href="#">40</a></li>
						<li class="page-item"><a class="page-link arrow-link next-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>