
<main id="page-<%= pageData.template %>">
	<%- include('common/_breadcrumb'); %>
	<section class="sec-detail">
		<div class="inner">
			<div class="detail-box detail-heading">
				<div class="detail-heading__img">
					<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="SKILL BRIDGE">
				</div>
				<div class="detail-heading__ct">
					<h2 class="detail-heading__ct-ttl">Creative株式会社</h2>
					<ul class="detail-heading__ct-list">
						<li>
							<img src="<%= RELATIVE_PATH %>img/icon-global.png" alt="SKILL BRIDGE">
							<span>Vietnam, Japan</span>
						</li>
						<li>
							<img src="<%= RELATIVE_PATH %>img/icon-user.png" alt="SKILL BRIDGE">
							<span>Full Name</span>
						</li>
					</ul>
				</div>
				<div class="detail-heading__item">
					<a href=""><img src="<%= RELATIVE_PATH %>img/ping-02.png" alt="SKILL BRIDGE"></a>
					<a href="" class="pc tooltip-hv">
						<img src="<%= RELATIVE_PATH %>img/dowload.png" alt="dowload">
						<div class="tooltip-box">
							<span class="tooltip-box__ttl">Download</span>
							ダウンロード機能がまもなく使えるようになります。
						</div>
					</a>
				</div>
			</div>
			<ul class="detail-img js-detail-img">
				<li class="detail-img__item">
					<img src="<%= RELATIVE_PATH %>img/img-detail-01.png" alt="SKILL BRIDGE">
				</li>
				<li class="detail-img__item">
					<img src="<%= RELATIVE_PATH %>img/img-detail-02.png" alt="SKILL BRIDGE">
				</li>
				<li class="detail-img__item">
					<img src="<%= RELATIVE_PATH %>img/img-detail-01.png" alt="SKILL BRIDGE">
				</li>
				<li class="detail-img__item">
					<img src="<%= RELATIVE_PATH %>img/img-detail-02.png" alt="SKILL BRIDGE">
				</li>
			</ul>
			<div class="detail-box">
				<h3 class="c-ttl__03">一般情報</h3>
				<ul class="detail-category">
					<li>
						<h4 class="detail-category__ttl">Category gán cho doanh nghiệp</h4>
						<p>Category 1, Category 2, Category 3</p>
					</li>
					<li>
						<h4 class="detail-category__ttl">会社種別</h4>
						<p>デスクトップアプリ</p>
					</li>
					<li>
						<h4 class="detail-category__ttl">企業業界</h4>
						<p>ソフトウェア開発アウトソーシング</p>
					</li>
					<li>
						<h4 class="detail-category__ttl">Số dự án thực tế đã triển khai</h4>
						<p>20 dự án</p>
					</li>
					<li>
						<h4 class="detail-category__ttl">企業規模</h4>
						<p>301 ~ 500 名</p>
					</li>
				</ul>
			</div>
			<div class="detail-box">
				<h3 class="c-ttl__03">会杜概要</h3>
				<div class="detail-note">
					<p>NFQ is part of the global NFQ Group.We help ambitious fast-moving international startups</p>
					<ul>
						<li>As a part of the global NFQ Group with 20+years of experience scaling companies and a team of 8004 developers globally,NFQ Vietnam focuses on building high-performance dedicated teams for ambitious tech-driven businesses in Europe and Asia.</li>
						<li>Each team here works directly with the client from end to end in an Agile spirit.This unique set up gives our employees the experience of working for a real product company, with a real sense of commitment and ownership to the product itself.</li>
						<li>NFQ Vietnam has more than 250+engineers located in Ho Chi Minh, Danang, Hanoi, Cantho offices.We are recognized as top-notch place to work in Vietnam.JOIN US</li>
						<li>Our &nbsp;<a href="https://www.nfq.com" target="_blank">page:https://www.nfq.com</a></li>
						<li>Our &nbsp;<a href="https://www.facebook.com/nfq.asia/" target="_blank">Facebook:https://www.facebook.com/nfq.asia/</a></li>
					</ul>
				</div>
			</div>
			<div class="detail-box">
				<h3 class="c-ttl__03">主なスキル</h3>
				<ul class="detail-tag">
					<li><span>PHP</span></li>
					<li><span>.NET</span></li>
					<li><span>ReactJS</span></li>
					<li><span>Java</span></li>
				</ul>
				<p>
					At.NFQ,it's more than just coding;we are working hard on products and build dreams for cool startups across the planet.We are the nation's coolest agile tech firm,specializing in PHP(Symfony,Laravel);React React Native,VueJS;Elasticsearch;Docker,Kubernetes;AWS,Google Cloud
				</p>
			</div>
			<div class="detail-box">
				<div class="detail-box--btn">
					<h3 class="c-ttl__03">開発実績</h3>
					<a href="" class="c-btn__01">
						<span>一覧</span>
					</a>
				</div>

				<div class="news-box">
					<div class="news-box__item">
						<div class="news-box__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-03.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-box__ct">
							<h4 class="news-box__ct-ttl">サービス名</h4>
							<p>
								このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
							</p>
							<dl>
								<dt>言語/テクノロジー</dt>
								<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
							</dl>
							<dl>
								<dt>業務</dt>
								<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
							</dl>
							<dl>
								<dt>規模</dt>
								<dd>25 MM</dd>
							</dl>
						</div>
					</div>
					<div class="news-box__item">
						<div class="news-box__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-04.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-box__ct">
							<h4 class="news-box__ct-ttl">サービス名</h4>
							<p>
								このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
							</p>
							<dl>
								<dt>言語/テクノロジー</dt>
								<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
							</dl>
							<dl>
								<dt>業務</dt>
								<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
							</dl>
							<dl>
								<dt>規模</dt>
								<dd>25 MM</dd>
							</dl>
						</div>
					</div>
					<div class="news-box__item">
						<div class="news-box__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-05.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-box__ct">
							<h4 class="news-box__ct-ttl">サービス名</h4>
							<p>
								このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
							</p>
							<dl>
								<dt>言語/テクノロジー</dt>
								<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
							</dl>
							<dl>
								<dt>業務</dt>
								<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
							</dl>
							<dl>
								<dt>規模</dt>
								<dd>25 MM</dd>
							</dl>
						</div>
					</div>
					<div class="news-box__item">
						<div class="news-box__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-06.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-box__ct">
							<h4 class="news-box__ct-ttl">サービス名</h4>
							<p>
								このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
							</p>
							<dl>
								<dt>言語/テクノロジー</dt>
								<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
							</dl>
							<dl>
								<dt>業務</dt>
								<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
							</dl>
							<dl>
								<dt>規模</dt>
								<dd>25 MM</dd>
							</dl>
						</div>
					</div>
				</div>

			</div>
			<div class="detail-box">
				<h3 class="c-ttl__03">受賞/認証</h3>
				<div class="news-certification">
					<div class="news-certification__item">
						<div class="news-certification__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-07.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-certification__ct">
							<h4 class="news-certification__ct-ttl">タイトル</h4>
							<p>
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							</p>
						</div>
					</div>
					<div class="news-certification__item">
						<div class="news-certification__img">
							<img src="<%= RELATIVE_PATH %>img/img-detail-08.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-certification__ct">
							<h4 class="news-certification__ct-ttl">タイトル</h4>
							<p>
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-box">
				<h3 class="c-ttl__03">所在地</h3>
				<div class="detail-maps">
					<div class="detail-maps__ct">
						<div class="detail-maps__ct-item active">
							<div class="detail-maps__ct-box">
								<h4 class="detail-maps__ct-ttl">Ho Chi Minh</h4>
								<p>
									Podium Floor, Sapphire 2 Tower, 92 Nguyen Huu Canh Street, Ward 22, Binh Thanh, Ho Chi Minh
								</p>
							</div>
							<div class="detail-maps__ct-iframe">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2654501843936!2d106.71674197573613!3d10.790969758923845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175295ee8064161%3A0x7a0efac3698532ae!2zOTIgTmd1eeG7hW4gSOG7r3UgY-G6o25oIHBoxrDhu51uZyAyMiBxdeG6rW4gYsOsbmggVGjhuqFuaA!5e0!3m2!1sfr!2s!4v1731341767560!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
						<div class="detail-maps__ct-item">
							<div class="detail-maps__ct-box">
								<h4 class="detail-maps__ct-ttl">Da Nang</h4>
								<p>
									23rd Fl. G8 Golden building, 65 Hai Phong Street, Hai Chau, Da Nang
								</p>
							</div>
							<div class="detail-maps__ct-iframe">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8742603994124!2d108.2139087757922!3d16.072013439361978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142195a4021c861%3A0xfa8899fdf70caa6b!2sCrystal%20Tower%20-%20V%C4%83n%20ph%C3%B2ng%20cho%20thu%C3%AA!5e0!3m2!1sfr!2s!4v1731422097331!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
						<div class="detail-maps__ct-item">
							<div class="detail-maps__ct-box">
								<h4 class="detail-maps__ct-ttl">Ha Noi</h4>
								<p>
									10th Floor, West Tower, Hancorp Plaza 72 Tran Dang Ninh Street, Dich Vong, Cau Giay, Ha Noi
								</p>
							</div>
							<div class="detail-maps__ct-iframe">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3723.859630959732!2d105.7914955!3d21.0383018!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3828e88a1d%3A0x4543f11dea983f38!2zQ8O0bmcgVHkgVE5ISCBUxrAgVuG6pW4gVsOgIMSQ4bqndSBUxrAgRy1PZmZpY2U!5e0!3m2!1sfr!2s!4v1731422156917!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</div>
					<div class="detail-maps__show pc">
						<div class="detail-maps__show-item active">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2654501843936!2d106.71674197573613!3d10.790969758923845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175295ee8064161%3A0x7a0efac3698532ae!2zOTIgTmd1eeG7hW4gSOG7r3UgY-G6o25oIHBoxrDhu51uZyAyMiBxdeG6rW4gYsOsbmggVGjhuqFuaA!5e0!3m2!1sfr!2s!4v1731341767560!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="detail-maps__show-item ">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8742603994124!2d108.2139087757922!3d16.072013439361978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142195a4021c861%3A0xfa8899fdf70caa6b!2sCrystal%20Tower%20-%20V%C4%83n%20ph%C3%B2ng%20cho%20thu%C3%AA!5e0!3m2!1sfr!2s!4v1731422097331!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="detail-maps__show-item ">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3723.859630959732!2d105.7914955!3d21.0383018!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3828e88a1d%3A0x4543f11dea983f38!2zQ8O0bmcgVHkgVE5ISCBUxrAgVuG6pW4gVsOgIMSQ4bqndSBUxrAgRy1PZmZpY2U!5e0!3m2!1sfr!2s!4v1731422156917!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-box">
				<h3 class="c-ttl__03">重要な取引先</h3>
				<ul class="banner-list">
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-01.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-02.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-03.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-04.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-05.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-06.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-07.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-08.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-09.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-10.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-11.png" alt="SKILL BRIDGE">
						</div>
					</li>
					<li class="banner-list__item">
						<div class="banner-list__box">
							<img src="<%= RELATIVE_PATH %>img/banner-12.png" alt="SKILL BRIDGE">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>

<a href="" class="support-online">
	<span>この企業について問い合わせる</span>
</a>
