<main id="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-img"></div>
		<div class="inner">
			<div class="mv-block">
				<div class="mv-block__item">
					<h2 class="mv-block__ttl c-ft--en">Status</h2>
					<ul class="mv-block__note">
						<li>
							<small>発注企業</small>
							85 社
						</li>
						<li>
							<small>受注企業</small>
							146 社
						</li>
						<li>
							<small>在籍エンジニア</small>
							714 名
						</li>
					</ul>
				</div>
				<div class="mv-block__item">
					<h2 class="mv-block__ttl c-ft--en">New Corporation</h2>
					<ul class="mv-block__links">
						<li>
							<a href="">
								<span class="mv-block__links--left">LandBridge株式会社</span>
								<span class="mv-block__links--right">詳細を見る</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="mv-block__links--left">Tcom株式会社</span>
								<span class="mv-block__links--right">詳細を見る</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</section>
	<section class="sec-steps">
		<div class="inner">
			<h2 class="c-ttl__01">HOW TO USE</h2>
			<div class="steps-list">
				<div class="steps-list__item">
					<div class="steps-list__box">
						<span class="steps-list__steps c-ft--en">STEP 01</span>
						<h3 class="steps-list__box-ttl">企業またはエンジニアを検索</h3>
						<p>
							独自の検索エンジンにより、求めている企業/エンジニアを見つけることができます。
						</p>
					</div>
				</div>
				<div class="steps-list__item">
					<div class="steps-list__box">
						<span class="steps-list__steps c-ft--en">STEP 02</span>
						<h3 class="steps-list__box-ttl">発注先の選定</h3>
						<p>
							企業やエンジニアの詳細情報を閲覧することで、実績やスキル感が分かった上で選定を行うことができます。
						</p>
					</div>
				</div>
				<div class="steps-list__item">
					<div class="steps-list__box">
						<span class="steps-list__steps c-ft--en">STEP 03</span>
						<h3 class="steps-list__box-ttl">お問い合わせ</h3>
						<p>
							3営業日以内にメールでご連絡させていただきオンラインでミーティングを行い、ヒヤリングを行います。
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-news">
		<div class="inner">
			<h2 class="c-ttl__01 c-al--l"><span class="c-ft--jp">コラム</span></h2>
			<ul class="news-list">
				<li class="news-list__item">
					<a href="">
						<span class="news-list__date">25-10-2024</span>
						<p>
							タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="news-list__date">25-10-2024</span>
						<p>
							タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="news-list__date">25-10-2024</span>
						<p>
							タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="news-list__date">25-10-2024</span>
						<p>
							タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="news-list__date">25-10-2024</span>
						<p>
							タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
						</p>
					</a>
				</li>
			</ul>
			<ul class="news-column js-slider-news">
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
			</ul>
			<a href="/news" class="c-btn__01">
				<span>一覧</span>
			</a>
		</div>
	</section>
	<section class="sec-pickup sec-pickup--custom">
		<div class="inner">
			<h2 class="c-ttl__01">
				Pick up - <span class="c-ft--jp">&nbsp;企業</span>
			</h2>
			<h3 class="c-ttl__02">
				<a href="">Webアプリケーション</a>
			</h3>
			<ul class="pickup-list ">
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Creative株式会社</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-01.png" alt="Creative株式会社">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">SmartOSC</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-02.png" alt="SmartOSC">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Trusting Social</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-03.png" alt="Trusting Social">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">TymeX</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-04.png" alt="TymeX">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Employment Hero</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-05.png" alt="Employment Hero">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan, England, England</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Hiteco Vietnam Co., Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-06.png" alt="Hiteco Vietnam Co., Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Absolute Software (Vietnam) Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-07.png" alt="Absolute Software (Vietnam) Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">VNG Corporation</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-08.png" alt="VNG Corporation">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
			</ul>
			<h3 class="c-ttl__02">
				<a href="">モバイルアプリ開発</a>
			</h3>
			<ul class="pickup-list mbpc-44">
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Creative株式会社</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-01.png" alt="Creative株式会社">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">SmartOSC</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-02.png" alt="SmartOSC">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Trusting Social</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-03.png" alt="Trusting Social">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">TymeX</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-04.png" alt="TymeX">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Japan</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Employment Hero</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-05.png" alt="Employment Hero">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam, Japan, England, England</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Hiteco Vietnam Co., Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-06.png" alt="Hiteco Vietnam Co., Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">Absolute Software (Vietnam) Ltd</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-07.png" alt="Absolute Software (Vietnam) Ltd">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/icon-pin.png" alt="img">
						</div>
					</a>
				</li>
				<li class="pickup-list__item">
					<a href="" class="pickup-list__box">
						<span class="pickup-list__ttl">VNG Corporation</span>
						<div class="pickup-list__img">
							<img src="<%= RELATIVE_PATH %>img/logo-other-08.png" alt="VNG Corporation">
						</div>
						<div class="pickup-list__ct">
							<dl>
								<dt>メンバー数</dt>
								<dd>100名</dd>
							</dl>
							<dl>
								<dt>実績件数</dt>
								<dd>50件</dd>
							</dl>
						</div>
						<div class="pickup-list__language">Vietnam</div>
						<div class="pickup-list__box--pin">
							<img src="<%= RELATIVE_PATH %>img/pin-03--blue.png" alt="img">
						</div>
					</a>
				</li>
			</ul>
			<a href="/news" class="c-btn__01">
				<span>一覧</span>
			</a>
		</div>
	</section>
	<section class="sec-pickup sec-pickup--like">
		<div class="inner">
			<h2 class="c-ttl__01">
				Pick up - <span class="c-ft--jp">&nbsp;エンジニア</span>
			</h2>
			<h3 class="c-ttl__02">
				<a href="">VR・AR開発</a>
			</h3>
			<ul class="pickup-like">
				<li class="pickup-like__item">
					<div class="pickup-like__box pickup-like__box--like">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-02.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-03.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-04.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name Full Name Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box pickup-like__box--like">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
			</ul>
			<h3 class="c-ttl__02">
				<a href="">ブロックチェーン開発</a>
			</h3>
			<ul class="pickup-like">
				<li class="pickup-like__item">
					<div class="pickup-like__box pickup-like__box--like">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-02.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-03.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-04.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name Full Name Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box pickup-like__box--like">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
				<li class="pickup-like__item">
					<div class="pickup-like__box">
						<div class="pickup-like__head">
							<div class="pickup-like__head-img">
								<img src="<%= RELATIVE_PATH %>img/avatar-01.png" alt="Full Name">
							</div>
							<div class="pickup-like__head-name">
								Full Name
							</div>
						</div>
						<dl>
							<dt>経験年数</dt>
							<dd>5年以上</dd>
						</dl>
						<dl>
							<dt>担当業務</dt>
							<dd>フロントエンド　他</dd>
						</dl>
					</div>
				</li>
			</ul>
			<a href="/news" class="c-btn__01">
				<span>一覧</span>
			</a>
		</div>
	</section>
</main>