
<main id="page-<%= pageData.template %>">
	<section class="sec-pickup">
		<div class="inner">
			<div class="heading-box heading-box--column">
				<div class="heading-box--left">
					<div class="heading-box__input">
						<input type="text" class="form-control" placeholder="検索">
						<button type="button" class="heading-box__input-sub">
							<img src="<%= RELATIVE_PATH %>img/search.png" alt="search">
						</button>
					</div>
				</div>
			</div>
			<ul class="news-column news-column--block">
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
				<li class="news-column__item">
					<a href="">
						<div class="news-column__img">
							<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="SKILL BRIDGE">
						</div>
						<div class="news-column__ct">
							<p>文化の壁を超えて：オフショア開発での成功法則</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="show-box">
				<div class="show-box--left">
					全1,088件
				</div>
				<div class="show-box--right">
					<ul class="pagination">
						<li class="page-item"><a class="page-link arrow-link prev-link disabled" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link active" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><span>...</span></li>
						<li class="page-item"><a class="page-link" href="#">39</a></li>
						<li class="page-item"><a class="page-link" href="#">40</a></li>
						<li class="page-item"><a class="page-link arrow-link next-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>