
<main id="page-<%= pageData.template %>">
	<%- include('common/_breadcrumb'); %>
	<section class="sec-project">
		<div class="inner">

			<div class="project-new news-box">
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-03.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-04.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-05.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-06.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-03.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-04.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-05.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-06.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-03.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
				<div class="news-box__item">
					<div class="news-box__img">
						<img src="<%= RELATIVE_PATH %>img/img-detail-04.png" alt="SKILL BRIDGE">
					</div>
					<div class="news-box__ct">
						<h4 class="news-box__ct-ttl">サービス名</h4>
						<p>
							このアプリケーションは安全な蓄積投資パッケージを提供し、消費者がeコマースプラットフォームでキャッシュバックを利用して買い物できます
						</p>
						<dl>
							<dt>言語/テクノロジー</dt>
							<dd>NodeJs , ReactJS , MySQL , Java , Swift</dd>
						</dl>
						<dl>
							<dt>業務</dt>
							<dd>Blockchain , Crypto , 小売＆Eコマース...</dd>
						</dl>
						<dl>
							<dt>規模</dt>
							<dd>25 MM</dd>
						</dl>
					</div>
				</div>
			</div>

		</div>
	</section>


	<div class="popup popup--project">
		<span class="popup-close--btn js-close-popup"></span>
		<div class="popup-project">
			<img src="./img/popup-banner.png" alt="SKILL BRIDGE">
		</div>
	</div>
</main>